* {
    box-sizing: border-box;
}

body {
    background-color: #0B0B0B;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
}

.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-menu {
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}

.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
}

.menu {
    width: 100%;
    list-style: none;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .5s;
    z-index: 7;
}

.menu.active {
    left: 0;
}

.close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin: left;
}

.close-btn::before {
    transform: rotate(45deg);
    top: -1px;
}

.close-btn::after {
    transform: rotate(-45deg);
    bottom: -1px;   
}

.menu-list {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-list a {
    font-size: 48px;
    line-height: 56px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    border-bottom: 3px solid #B70021;
    padding: 30px 30px 14px 0;
    display: inline-block;
    min-width: 368px;
    transition: all .5s;
}

.menu-list a:hover {
    border-color: #fff;
    color:  #B70021;
    transform: scale(1.2);
    margin-left: 37px;
}

.header-content-title {
    font-family: 'Roboto';
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 40px;
}

.header-content-text {
    width: 284px;
    margin-bottom: 25px;
}

.header-content-btn {
    display:inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all .5s;
}

.header-content-btn:hover {
    background-color: #690102;
}

.slider-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B0B0B;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}

.slider .slick-dots .slick-active button {
    background-color: #fff;
}

.slider .slick-dots li {
    display: inline-block;
}

.slider .slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1230px;
    padding: 0 15px;
}

.statistics {
    margin: 160px 0 50px;
}

.statistics-items {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.statistics-item-title {
    margin-bottom: 19px;
}

.statistics-item-num {
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7px;
}

.statistics-item-num span {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left; 
    margin-left: -20px;   
}

.statistics-item-desc {
    color: #B70021;
}

.statistics-item-plus span {
    display: inline-block;
    position: relative;
}

.statistics-item-plus span::before {
    content:'+';
    position: absolute;
    bottom: 68px;
    width: 12px;
}

.video {
    margin-bottom: 100px;
}

.advantages-inner-row {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.advantages-title {
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
    position: absolute;
    top: 0;
}

.advantages-text {
    width: 303px;
}

.advantages-text ul {
    list-style-type: none;
}

.advantages-desc {
    max-width: 570px;
    width: 100%;
}

.advantages-title-bottom {
    right: 0;
    bottom: 0;
    top: auto;
}

.saloon-img {
    margin-bottom: 100px;
}

.functions-desc {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.functions-item {
    max-width: 570px;
    width: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.functions-num {
    color:#B70021;
}

.functions-text {
    max-width: 430px;
    padding-top: 25px;
}

.footer {
    background-color: #690102;
    text-align: center;
}

.footer-btn {
    padding-top: 113px;
}

.footer-btn a{
    background-color:  rgba(255, 255, 255, 0.15);
    padding: 29px 60px;
    border: 1px solid #fff;
}

.footer-btn a:hover {
    background-color: #690102;
    transition: all .5s;
}

.footer-links {
    margin-top: 111px;
    bottom: 20px;
    text-align: center;
}

.footer-links li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.footer-links li:not(li:last-child)::after {
    content: '|';
    position: absolute;
    right: -6px;
}

@media (max-width: 1220px) {
    .advantages-text {
        padding-left: 20px;
    }

    .saloon-img img {
        width: 100%;
    }
}

@media (max-width: 1020px) {
    .functions-desc {
        flex-wrap: wrap;
        justify-content: center;
    }

    .functions-item {
        margin-bottom: 30px;
    }

    .functions-text {
        max-width: 100%;
    }
}

@media (max-width: 930px) {
    .advantages-inner-row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .advantages-title {
        position: static;
    }

    .advantages-desc {
        text-align: center;
    }

    .advantages-text {
        margin: 25px auto;
        padding-left: 0;
    }

    .advantages-inner-row-mobile, .advantages-desc-mobile{
        display: flex;
        flex-direction: column-reverse;
    }

    
}

@media (max-width: 820px) {
    .statistics-items {
        flex-wrap: wrap;
    }

    .statistics-item {
        padding: 50px;
    } 
}

@media (max-width: 650px) {
    .advantages-img img{
        width: 100%;
    }
}

@media (max-width: 440px) {
    .logo img {
        width: 200px;
    }

    .header-content-title {
        font-size: 70px;
        line-height: 85px;
    }

    .menu-list a {
        font-size: 35px;
        line-height: 40px;
        padding: 20px 10px 5px 0;        
        min-width: 260px;
    }

    .menu-list ul {
        width: 100%;
    }

    .statistics-item {
        padding: 25px 0;
    }

    .statistics {
        margin: 110px 0 100px;
    }

    .header-content-btn, .footer-btn a{
        padding: 20px 45px;
    }

    .video, .saloon-img, .functions-desc {
        margin-bottom: 50px;
    }

    body {
        font-size: 20px;
        line-height: 24px;
    }

    .advantages-text {
        width: 100%;
    }

    .footer-btn {
        padding-top: 80px;
    }

    .footer-links {
        margin-top: 80px;
    }
}




